body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("src/img/danceFloorBackground.jpg");
  background-size: cover;
  background-color:#444;
  font-size: 18px;
  overflow: hidden;
}
body, a:link, a:visited, a:active{
  color: black;
}
.title, .addDancerButton, .lineUpButton, .catchEmButton{
  color: black;
  font-family: Geneva;
  padding:5px 12px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
  float:right;
  background-color: rgba(158, 255, 227, 0.6);
  border-radius: 20px;
}
.topbar{
  height:32px;
}

.title{
  height: 45px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: black;
  background-color: rgba(104, 123, 155, 0.9);
}

.dancer{
  margin-top: 30%;
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}


.PikaDancer{
  margin-top: 30%;
  content: url("src/img/pikachu.png");
  /*animation: nudge 5s ease infinite;*/
  height: 80px;
  width: 80px;
  position:absolute;
  border-radius: 50px;
}

.SpinningDancer{
  margin-top: 30%;
  content: url("src/img/spinningDancerGif.gif");
  -webkit-animation: rotation 3s infinite linear;
  height: 100px;
  width: 100px;
  position:absolute;
  border-radius: 50px;
}

.ShyDancer{
  margin-top: 30%;
  content: url("src/img/shyGuy.png");
  height: 80px;
  width: 80px;
  position:absolute;
  border-radius: 50px;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}

.ShyDancer:hover {
  opacity: 0;
}

.TrainerDancer{
  margin-top: 30%;
  content: url("src/img/Trainer.png");
  height: 240px;
  width: 108px;
  /*height: 160px;*/
  /*width: 72px;*/
  position:absolute;
  border-radius: 50px;
}

.caught {
  content: url("src/img/pokeball.png");
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}


@keyframes stretch {
  0% {
    transform: scale(.3);
    border-radius: 100%;
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(75px, 0);
  }
  
  80% {
    transform: translate(-75px, 0);
  }
}

